<div class="container">
  <div class="row" *ngFor="let task of tasks">
    <!-- Column 1 -->

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div *ngIf="task.upcoming">
        <h3>Upcoming Tasks</h3>
        <!-- Card -->
        <div class="card">
          <div class="card-header">{{ task.title }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.description }}</h5>
            <a href="#" class="btn btn-success">View</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Column 2 -->

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div *ngIf="task.complete">
        <!-- Card -->
        <h3>Complete Tasks</h3>
        <div class="card">
          <div class="card-header">{{ task.title }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.description }}</h5>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let task of tasks">
    <div class="incomplete" *ngIf="task.incomplete">
      <!-- Card -->
      <h3>Incomplete Tasks</h3>
      <div class="card">
        <div class="card-header">{{ task.title }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ task.description }}</h5>
          <a href="#" class="btn btn-danger">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
