/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
}
